
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sem serifa;
}    

.body{
    width: 100vw;
}

.superior {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    background: #262626;
    position: fixed;
    opacity: 0.9; /* Use um valor de opacidade entre 0 e 1 */
    z-index: 999;
}

.box{
    
    height: 90vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(65, 66, 66);
}

.box{
    background-color: rgb(78, 78, 78);
}

.box.dark-mode{
    background-color: rgb(209, 209, 209);
}


.carousel-inner {
    width: 80%;
    height: 90vh;

}

.carousel-item {
    width: 100%;
    height: 90vh;
}

.carousel-item img {
    width: auto;
    max-width: 100%; /* Controla o tamanho da imagem no carrossel */
    height: 100%;
    object-fit: contain;
}

.text-justify {
    text-align: center;
    opacity: 1;
    font: 20px sans-serif;
    color: rgb(255, 255, 255);
    z-index: 1;

}

#text-carrousel{
    display: flex;
    background-color: rgba(78, 78, 78, 0.6);
    text-justify: center;
    font: 20px sans-serif;
    width: 60%;
    margin-top: 60px; 
    
    margin: 85px; 
    
}

#color-light{
    color: rgb(231, 228, 12);
    font-size: 40px;
    
}

#color-light.dark-mode{
    display: none;
}

#color-black{
    display: none;
}

#color-black.dark-mode{
    display: flex;
    font-size: 40px;
}

.portfolio {
    color: white;
    font-size: 50px;
    font-weight: 600;
    margin-left: 26%;
}

.portfolio spam {
    color: red;
    font-size: 50px;
}

.menu{
    display: flex;
    align-items: center;    


}

.link-menu {
    display: flex;
    color: white;
    list-style: none;
    background-color: #262626;
    display: inline-block;
    font-size: 25px;
    font-weight: 150px;
    cursor: pointer;
    text-decoration: none;
    margin: 0px;
}

#menu-list {
    display: flex;
    width: 300px;
    list-style: none;
    align-items: flex-end;
    margin: 0px;
    margin-top: 45px;

}

.link-menu:hover{
    color: red;
    transform: scale(1.1);
    transition: 2s;
}

#menu-icon{
    display: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 30px; 
}

#menu-icon.dark-mode{
    color: black;
}

.caixa-principal {
    display: flex;
    height: 100vh;                                                                           
    background: rgb(14, 14, 14);
}


footer{
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape.dark-mode  {
    background:#c9c9c9;
    color: black;
}

.rodape h5 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 5px;
}

.rodape p {
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
}

.rodape.dark-mode h5 {
    background:#c9c9c9;
    color: black;
}

.rodape.dark-mode p {
    background:#c9c9c9;
    color: black;
}

.social img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.social a {
    background-color: red;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.social a:hover{
    transform: scale(1.2);
    transition: 1s;
}

.social{
    display: flex;
    gap: 18px
    
}



.botao {
    position: fixed;
    bottom: 20px;
    left: 95%;
    background-color: transparent;
    z-index: 1;
}

.botao img{
    background-color: transparent;
    width: 50px;
    z-index: 1;
}

.wp img {
    z-index: 0;
    border-radius: 50%;
}

.dark-mode {
    background-color: rgb(255, 255, 255);
    color: black;
    background: (rgb(235, 234, 234))
}

/*media query*/
@media (max-width: 768px){

.superior{
    height: 50px;
    width: 99vw;

}


.portfolio{
    font-size: 20px;
    margin-left: 0;
    margin-right: 30px;
}

.portfolio spam {
    color: red;
    font-size: 20px;
}

#menu-icon{
    display: block;
    position: absolute;
    top: 10px;
    left: 85%;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 30px; 
    z-index: 100;
}


#menu-list {
    align-items: center;
}

#menu-list {
        display: flex;
        position: absolute;
        transition: all 1s ease-in-out;
        flex-direction: column;
        top: 10px;
        left: 100px;     
        overflow: hidden; 
}     
        
.link-menu{
        display: flex;
        font-size: 18px;

}
}       


.link-menu{
    display: flex;
    display: block;
    flex-direction: column;
    margin: 5px;
}

.link-menu.dark-mode {
    background-color: rgb(255, 255, 255);
    color: black;
}












